[submodule "Invariant-break/lib/forge-std"]
    path = Invariant-break/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "Invariant-break/lib/openzeppelin-contracts"]
    path = Invariant-break/lib/openzeppelin-contracts
    url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "3-t-swap/lib/forge-std"]
	path = 3-t-swap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-thunder-loan/foundry-rs/forge-std/lib/forge-std"]
	path = 4-thunder-loan/foundry-rs/forge-std/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-thunder-loan/lib/forge-std"]
	path = 4-thunder-loan/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-thunder-loan/lib/openzeppelin-contracts"]
	path = 4-thunder-loan/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "5-boss-bridge/lib/forge-std"]
	path = 5-boss-bridge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-boss-bridge/lib/openzeppelin-contracts"]
	path = 5-boss-bridge/lib/openzeppelin-contracts
	url = https://github.com/lib/OpenZeppelin/openzeppelin-contracts
[submodule "7-unstoppable/lib/forge-std"]
	path = 7-unstoppable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-unstoppable/lib/openzeppelin-contracts"]
	path = 7-unstoppable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "7-unstoppable/lib/solmate"]
	path = 7-unstoppable/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "7-unstoppable/lib/solady"]
	path = 7-unstoppable/lib/solady
	url = https://github.com/vectorized/solady
[submodule "8-naive-receiver/lib/forge-std"]
	path = 8-naive-receiver/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-naive-receiver/lib/solmate"]
	path = 8-naive-receiver/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "8-naive-receiver/lib/openzeppelin-contracts"]
	path = 8-naive-receiver/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "8-naive-receiver/lib/solady"]
	path = 8-naive-receiver/lib/solady
	url = https://github.com/vectorized/solady
[submodule "9-truster/lib/forge-std"]
	path = 9-truster/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9-truster/lib/solmate"]
	path = 9-truster/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "9-truster/lib/openzeppelin-contracts"]
	path = 9-truster/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-side-entrance/lib/forge-std"]
	path = 10-side-entrance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-side-entrance/lib/solady"]
	path = 10-side-entrance/lib/solady
	url = https://github.com/vectorized/solady
[submodule "11-the-rewarder/lib/forge-std"]
	path = 11-the-rewarder/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11-the-rewarder/lib/solady"]
	path = 11-the-rewarder/lib/solady
	url = https://github.com/vectorized/solady
[submodule "11-the-rewarder/lib/openzeppelin-contracts"]
	path = 11-the-rewarder/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "12-selfie/lib/forge-std"]
	path = 12-selfie/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "12-selfie/lib/openzeppelin-contracts"]
	path = 12-selfie/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "13-compromised/lib/forge-std"]
	path = 13-compromised/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "13-compromised/lib/openzeppelin-contracts"]
	path = 13-compromised/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "13-compromised/lib/solady"]
	path = 13-compromised/lib/solady
	url = https://github.com/vectorized/solady
[submodule "14-puppet/lib/forge-std"]
	path = 14-puppet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "14-puppet/lib/openzeppelin-contracts"]
	path = 14-puppet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "14-puppet/lib/solmate"]
	path = 14-puppet/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "15-puppetV2/lib/forge-std"]
	path = 15-puppetV2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "16-puppetV3/lib/forge-std"]
	path = 16-puppetV3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "16-free-rider/lib/forge-std"]
	path = 16-free-rider/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "17-free-rider/lib/forge-std"]
	path = 17-free-rider/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "17-free-rider/lib/solady"]
	path = 17-free-rider/lib/solady
	url = https://github.com/vectorized/solady
[submodule "17-free-rider/lib/openzeppelin-contracts"]
	path = 17-free-rider/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "18-backdoor/lib/forge-std"]
	path = 18-backdoor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "18-backdoor/lib/solady"]
	path = 18-backdoor/lib/solady
	url = https://github.com/vectorized/solady
[submodule "18-backdoor/lib/openzeppelin-contracts"]
	path = 18-backdoor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "18-backdoor/lib/safe-smart-account"]
	path = 18-backdoor/lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "18-backdoor/lib/solmate"]
	path = 18-backdoor/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "19-climber/lib/forge-std"]
	path = 19-climber/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "19-climber/lib/openzeppelin-contracts"]
	path = 19-climber/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "19-climber/lib/solady"]
	path = 19-climber/lib/solady
	url = https://github.com/vectorized/solady
[submodule "19-climber/lib/openzeppelin-contracts-upgradeable"]
	path = 19-climber/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "19-climber/lib/solmate"]
	path = 19-climber/lib/solmate
	url = https://github.com/transmissions11/solmate
